body{
  background-color: #1B1B1B;
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;
}




/* 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++              ++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++   COMPUTER   ++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++              ++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* --------- APP HEADER --------- */

.mapButton img{
  height       : 65px ;
  padding      : 0px;
  float        : left ;

}

.PlayButton{
  height       : 25px ;
  width        : 25px ;
  margin-top   : 20px ;
  margin-left  : calc(90vw - 710px) ; 
  filter       : invert(90%);
}

.PlayButton:focus{
    outline: none ;
}

.musicTitle{
  font-size   : 10px   ;
  width       : 12vw   ;
  color       : #C0C0C0;
}


.PersonalPageHeader {
  opacity         : 1                   ;
  height          : 65px                ;
  width           : 100%                ;
  color           : black               ;
  float           : center              ;
  text-align      : center              ;
  box-shadow      : 0px 0.51px 3px black;
  position        : fixed               ;
  z-index         : 5                   ;
  overflow        : hidden              ;
}

.PersonalPageHeader ul {
  list-style-type: none   ;
  margin         : 0      ;
  padding        : 0      ;
  overflow       : hidden ;
}

.PersonalPageHeader li {
  float        : left;
}




.PersonalPageHeader .normalButton{
  float              : left       ; 
  background-color   : inherit    ;
  font-size          : 18px       ;
  height             : 65px       ;
  width              : 130px      ;
  border             : none       ;
  -webkit-user-select: none       ;
  user-select        : none       ;
  font-family        : 'Cinzel'   ;
}




.PersonalPageHeader .normalButton:hover{
  background-color: #EFEFEF ;
  opacity: 0.7;
  transition      : 0.6s    ;
}

.PersonalPageHeader .normalButton:focus{
    outline: none ;
}



.mapButton{
  float              : left       ; 
  background-color   : #000000    ;
  font-size          : 18px       ;
  padding            : 0px        ;
  border             : none       ;
  -webkit-user-select: none       ;
  user-select        : none       ;
}



.PersonalPageHeader .mapButton:hover .overlay {
    background-color: #000000 !important;
    opacity         : 0.7     ;
    transition      : 0.6s    ;
}

.PersonalPageHeader .mapButton:focus{
    outline: none ;
}

.PersonalPageHeaderSmall{
  display: none;
}

/* =====================  GENERAL  ===================== */

.container{
  padding-top    : 12vh  ;
  display        : flex ;
  flex-direction : row  ;
  flex-wrap      : wrap ;
}

.containerScout{
  padding-top: 17vh;
}

.containerLouveteaux{
  padding-top: 25vh;
}

.Background img {
    position  : fixed  ;
    right     : 0      ;
    top       : 0      ;
    width     : 110%   ;
    height    : auto   ;
    min-width : 1400px ;
    z-index   : -5     ;
    opacity   : 0.7    ;
}




.textBox .textTitle{
  font-size  : calc(20px + 12 * ((100vw) / (1440)));
  font-family: 'Cinzel';
}

.textBox .subtitle{
  font-family     : 'Cinzel';
  text-decoration : underline;
  font-size       : calc(9px + 12 * ((100vw) / (1440)));
}

.textBox .text{
  font-size : calc(6px + 12 * ((100vw) / (1440)));
}

.textBox .sideNote{
  font-size : calc(8px + 12 * ((100vw) / (1440)));
}

.textBox .signature{
  font-size       : calc(9px + 12 * ((100vw) / (1440)));
  text-decoration : underline;
  font-family     : 'Cinzel';
}

.textBox .names{
  font-size   :  calc(7px + 12 * ((100vw) / (1440)));
  font-family : 'Cinzel';
  /*color       : #858462;*//*#394d00;*/
  font-weight : 100;
}

.textBox mark{
  text-decoration: underline ;
  font-weight    : bold      ;
  color          : #E0E0E0   ;
  background     : none      ;
}

.textBox .warning{
  color          : #FF1100   ;
}



.textBox{
  color           : white    ;
  /*max-width       : 70vw     ; */
  text-align      : center   ;
  z-index         : 0        ;
  opacity         : 0.95     ;
  margin-bottom   : 9vh      ;
  margin-left     : 5vw      ;
  margin-right    : 5vw      ;
  border-radius   : 3px      ;
  padding-left    : 50px     ;
  padding-right   : 50px     ;
  padding-top     : 10px     ;
  padding-bottom  : 30px     ;
  background-color: #0A0A0A  ;
  box-shadow      : 0px 0.51px 9px black;
  font-family     : 'Cinzel' ;
}

/* =====================  HOME  ===================== */

.Home .textBox{ 
  animation-name:img-ani;
  animation-duration: 0.6s;   
  animation-timing-function: ease-in;
}             

@keyframes img-ani {
  from{opacity:0;}
  to{opacity: 0.95;}
}


/* =====================  Staff  ===================== */

.Staff .textBox{
  display        : flex   ;
  flex-wrap      : wrap   ;
  flex-flow      : column ;
  opacity        : 0.95   ;
  width          : 100%   ;
  justify-content: center ;
  align-items    : center ;
}

.Staff .row{
  display        : flex   ;
  flex-wrap      : wrap   ;
  flex-flow      : row    ;
  justify-content: center ;
  align-items    : center ; 
}




.Staff .column1{
  margin-right:0.5vw;

}
.Staff .column2{
  margin-left: 1.5vw ;
  text-align : start ;
}


.Staff .God{
  width:20vw;
  box-shadow: 0px 0px 14px 1px #000000;
}

/* SCOUTS */



/* GUIDES */

.Staff .Ourebi{
  width : 10vw ;
  min-width: 140px;
}

.Staff .Dorcas{
  width : 10vw ;
  min-width: 140px;
}

.Staff .Spitz{
  width : 10vw;
  min-width: 140px;
}

.Staff .Welsh{
  width : 10vw;
  min-width: 140px;
}

.Staff .Merione{
  width : 10vw;
  min-width: 140px;
}

.Staff .Beira{
  width : 10vw;
  min-width: 140px;
}

.Staff .Sloughi{
  width : 10vw;
  min-width: 140px;
}


/* LOUVETEAUX */
.Staff .Akela{
  width : 10vw;
}

.Staff .Rikki{
  width : 10vw;
}

.Staff .WonTola{
  width : 10vw;
}

.Staff .Hati{
  width : 10vw;
}

.Staff .Rama{
  width : 10vw;
}

.Staff .Kaa{
  width : 10vw;
}

.Staff .KalaNag{
  width : 10vw;
}

.Staff .Chill{
  width : 10vw;
}



/* LOUVETTES */
.Staff .Zeus{
  width : 11vw;
}

.Staff .Athena{
  width : 12vw;
}

.Staff .Artemis{
  width : 12vw;
}

.Staff .Apollon{
  width : 13vw;
}

.Staff .Hades{
  width : 13vw;
}

.Staff .Circe{
  width : 13vw;
}

.Staff .Dionysos{
  width : 17vw;
}

.Staff .Chloris{
  width : 15vw;
}

.Staff .Heracles{
  width : 13vw;
}


/* BALADINS */
.Staff .Abraracourcix{
  width : 15vw;
}

.Staff .Obelix{
  width : 15vw;
}

.Staff .Panoramix{
  width : 15vw;
}

.Staff .Assurancetourix{
  width : 15vw;
}

.Staff .Asterix{
  width : 15vw;
}

.Staff .Falbala{
  width : 15vw;
}

.Staff .Bonemine{
  width : 15vw;
}


/* == Your Viking ==*/
.YourViking mark{
  color: #D8D8D8;
  text-decoration: none;
}


/* =====================  INFO  ===================== */



.Info .download-button{
  text-decoration  : none     ;
  background-color : inherit  ;
  font-size        : calc(5px + 12 * ((100vw) / (1440)));
  border-radius    : 3px      ;
  padding          : 10px     ;
  margin-top       : 3vh      ;
  margin-right     : 10vw     ;
  margin-left      : 10vw     ;
  /*border           : 1px solid #D0D0D0;*/

}

.Info .download-button:hover{
  background-color: #FFFFFF ;
  opacity         : 0.5     ; 
  transition      : 0.6s    ;
}

.Info a{
  text-decoration : none    ;
  background      : none    ;
  color           : inherit ;
  display         : block   ;
}


.Info .bagList{
  text-align  : start   ;
  margin-left : 10vw    ;
}


/* 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++            +++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++   MOBILE   +++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++            +++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

@media (max-width: 850px) {
    .PersonalPageHeader{
      display : none;
    }

    .PersonalPageHeaderSmall{
      display : block;
    }


    .PersonalPageHeaderSmall .MainMenu{
      background      : inherit             ;
      opacity         : 1                   ;
      height          : 65px                ;
      width           : 100%                ;
      float           : center              ;
      text-align      : center              ;
      box-shadow      : 0px 0.51px 3px black;
      position        : fixed               ;
      z-index         : 5                   ;
      overflow        : hidden              ;
    }

    .PersonalPageHeaderSmall .MainMenu ul {
      list-style-type: none   ;
      margin         : 0      ;
      padding        : 0      ;
      overflow       : hidden ;
    }

    .PersonalPageHeaderSmall .MainMenu li {
      float        : left;
    }

    .PersonalPageHeaderSmall .MainMenu .normalButton{
      width              : calc(100vw - 104px);
      background-color   : inherit    ;
      font-size          : 18px       ;
      height             : 65px       ;
      border             : none       ;
      padding            : 0px        ;
      -webkit-user-select: none       ;
      user-select        : none       ;
      font-family        : 'Cinzel'   ;
    }


    .PersonalPageHeaderSmall .MainMenu .normalButton:hover{
      background-color: #EFEFEF ;
      opacity         : 0.7     ;
      transition      : 0.6s    ;
    }

    .PersonalPageHeaderSmall .MainMenu .normalButton:focus{
        outline: none ;
    }

    .PersonalPageHeaderSmall .MainMenu .MenuButton:checked > .SubMenu {
      height:0px;
    }





    .PersonalPageHeaderSmall .SubMenuHidden{
      height: 0px;
      padding-top   : 65px    ;
      background    : inherit ;
      overflow      : scroll  ;
      box-shadow    : 0px 0.51px 3px black;
    }

    .PersonalPageHeaderSmall .SubMenu{
      padding-top   : 65px    ;
      background    : inherit ;
      overflow      : scroll  ;
      box-shadow    : 0px 0.51px 3px black;
    }

    .PersonalPageHeaderSmall .SubMenu ul {
      list-style-type: none   ;
      margin         : 0      ;
      padding        : 0      ;
      overflow       : scroll ;
    }

    .PersonalPageHeaderSmall .SubMenu li button{
      float       : center ;
      align-items : center ;
      width       : 100%   ;
      height      : 66px   ;
    }


    .PersonalPageHeaderSmall .SubMenu .normalButton{
      background-color   : inherit    ;
      font-size          : 14px       ;
      height             : 40px       ;
      border             : none       ;
      padding            : 0px        ;
      -webkit-user-select: none       ;
      user-select        : none       ;
      border-bottom : 0.3px solid #464646;
      font-family        : 'Cinzel'   ;
    }


    .PersonalPageHeaderSmall .SubMenu .normalButton:hover{
      background-color: #EFEFEF ;
      opacity         : 0.7     ;
      transition      : 0.6s    ;
    }

    .PersonalPageHeader .SubMenu .normalButton:focus{
        outline: none ;
    }


    .Background img {
        position  : fixed  ;
        left      : -50%   ;
        top       : 0      ;
        width     : 100%   ;
        height    : auto   ;
        min-width : 1400px ;
        z-index   : -5     ;
    }

    
    .container{
      padding-top    : inherit;
      display        : flex ;
      flex-direction : row  ;
      flex-wrap      : wrap ;
    }


    .textBox{
        text-align      : center   ;
        z-index         : 0        ;
        opacity         : 0.88     ;
        margin-top      : 5vh      ;
        margin-left     : 5vw      ;
        margin-right    : 5vw      ;
        border-radius   : 3px      ;
        padding-left    : 50px     ;
        padding-right   : 50px     ;
        padding-top     : 10px     ;
        padding-bottom  : 30px     ;
    }
    

}



.scouts{
  background-color:#B66849;
  color           :#5D0E0A;
}


.guides{
  background-color:#AC7D4C;
  color           :#371A09;
}

.louveteaux{
  background-color:#7066AF;
  color           :#171559;
}

.louvettes{
  background-color:#90A058;
  color           :#10380E;
}

.baladins{
  background-color:#A26AAD;
  color           :#401569;
}






.scouts.download-button{
  border  : 1px solid #5D0E0A;
}

.guides.download-button{
  border  : 1px solid #371A09;
}

.louveteaux.download-button{
  border  : 1px solid #171559;
}

.louvettes.download-button{
  border  : 1px solid #10380E;
}

.baladins.download-button{
  border  : 1px solid #401569;
}





